body{
    background-image: "https://cdn.pixabay.com/photo/2013/07/18/10/56/pile-163497_1280.jpg"
}
h1{
    color:red; 
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    text-align: justify;
}
h3{
    color: coral;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    text-align: justify;
}
h4{
    color:rgb(2, 74, 141); 
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    text-align: left;
}
p{
    color:rgb(0, 0, 0); 
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    text-align: left;
}